bazel-*/
bazel-*
vendor/
bin/
*.pyc
node_modules/

# In GoogleCloudPlatform/esp-v2, this directory is ignored;
# However, at Utila, we check it into the repo to simplify downstream builds.
#src/go/proto/

# IDE
.clwb/
.ijwb/
.idea/

# C++ coverage
generated/
third_party/tools/coverage/BUILD
